@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background__image {
    position: relative;
    background-image: url("./img/bag.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1140px;
    margin: auto;
}


/* header qismi uchun stillar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

header .logo_brand h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
}

header .logo_brand h2:hover {
    cursor: pointer;
}

header .nav_menu ul {
    display: flex;
}

header .nav_menu ul li {
    list-style: none;
    display: inline-block;
    padding-left: 3em;
}

header .nav_menu ul li a {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 0.9em;
}

header .nav_menu ul li a.active{
    color: #F0CD81;
}

header .nav_menu ul li a.active::before {
    content: "";
    position: absolute;
    background-color: #F0CD81;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -20px;
    transition: .4s ease
}

header .nav_menu ul li a i {
    color: #fff;
    font-size: 1.2em;
    padding-top: 0.4em;
}

header .nav_menu ul li a i:hover {
    color: #F0CD81;
    cursor: pointer;
    transition: .4s ease;
}

header .nav_menu ul li a:after {
    content: "";
    position: absolute;
    background-color: #F0CD81;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -20px;
    transition: .4s ease
}
header .nav_menu ul li a:hover {
    color: #F0CD81;
}

header .nav_menu ul li a:hover:after {
    width: 100%;
}
/* header qismi uchun stillar */


/* main qismi uchun stillar */

main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

main .collection_number {
    width: 45%;
}

main .collection_title {
    width: 45%;
}

main .collection_number h3 {
    position: relative;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1px;
}

main .collection_number h3:after {
    content: "";
    position: absolute;
    background-color: #F0CD81;
    height: 2px;
    width: 40%;
    left: 0;
    bottom: -5px;
    opacity: 0.4;
}

main .collection_number h3:before {
    content: "";
    position: absolute;
    background-color: #F0CD81;
    height: 2px;
    width: 30%;
    left: 0;
    bottom: -5px;
}

main .collection_number h4 {
    color: #fff;
    padding: 15px 0 7px 0;
    font-size: 1.2em;
}

main .collection_number p {
    color: #aaaaaa;
    font-size: 0.8em;
    opacity: 0.6;
}

main .collection_title h1{
    color: #fff;
    font-size: 4em;
    line-height: 1em;
}

main .collection_title p {
    color: #aaa;
    opacity: 0.6;
    padding-top: 2.5em;
    font-size: 0.8em;
}

main .collection_title span {
    border-bottom: 1px solid #aaa;
}

main .collection_title span:hover {
    color: #fff;
    cursor: pointer;
}

/* main qismi uchun stillar */


/* footer qismi uchun stillar */

footer {
    width: 100%;
    background-color: #2c2c2cc2;
    margin-top: 250px;
}

.footer_navigation, .events_block, .img_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events_blocks {
    width: 45%;
}

.events_blocks h3, .news_block h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
}


.events_titile {
    padding: 2em 0;
    margin-right: 4em;
}

.events_titile p, h4{
    color: #fff;
    font-size: 0.8em;
}

.events_titile p{
    color: #aaa;
    padding-bottom: 0.4em;
    font-size: 0.8em;
}


.events_knopka ul li{
    display: inline-block;
    background-color: #F0CD81;
    width: 5px;
    height: 5px;
    padding: 5px;
    border-radius: 50%;
}

.events_knopka ul li:nth-child(2){
    opacity: 0.2;
}

.events_knopka ul li:nth-child(3){
    opacity: 0.2;
}

.img_blocks {
    width: 45%;
}

.img_block img {
    width: 80%;
}


.news_block {
    margin-left: 2em;
}

.news_block p {
    color: #aaa;
    padding: 2em 0;
    color: #aaa;
    font-size: 0.8em;

}

.news_block a {
    color: #F0CD81;
    text-decoration: none;
    letter-spacing: 1px;
}

/* footer qismi uchun stillar */



/* chap menu uchun stillar */

.left__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #2e2e2e;
}

.menu__container .menu-brand, .link-brands{
    position: relative;
    width: 100%;
    padding: 25px;
}

.menu__container .menu-brand i {
    font-size: 2em;
    color: #fff;
}

.menu__container .menu-brand.active {
    background-color: #404040;
}

.link-brands {
    position: absolute;
    bottom: 0;
}

.link-brands ul, .nav-menu ul {
    list-style: none;
}

.link-brands ul li a, .nav-menu ul li a{
    text-decoration: none;
    color: #fff;
}

.link-brands ul li {
    font-size: 1em;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 25px 0;
}

.link-brands ul li a:hover {
    cursor: pointer;
    color: #F0CD81;
    transition: .4s ease;
}

/* chap menu uchun stillar */

@media (max-width: 1400px) {
    .background__image {
        background-position: center;
    }

    .container {
        width: 70%;
        margin: auto;
    }

    header .logo_brand {
        width: 30%;
    }

    header .nav_menu ul li {
        padding-left: 3em;
    }

    main {
        margin: 220px 0;
    }
    
    main .collection_number {
        width: 40%;
    }
    
    main .collection_title {
        width: 55%;
    }

    header .nav_menu ul li {
        padding-left: 1.6em;
    }
    /* footer qismi uchun stillar */

    footer {
        background-color: #2c2c2cc2;
        margin-top: 200px;
    }

    .footer_navigation, .events_block, .img_blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .events_blocks {
        width: 45%;
    }

    .events_blocks h3, .news_block h3 {
        color: #fff;
        font-weight: 500;
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    .img_blocks {
        width: 50%;
    }

    .img_block img {
        width: 90%;
    }

}


@media (max-width: 1200px) {
    .background__image {
        background-position: center;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    header .nav_menu ul li {
        padding-left: 4em;
    }

    main {
        margin: 250px 0;
    }
    
    main .collection_number {
        width: 40%;
    }
    
    main .collection_title {
        width: 65%;
    }

    header .nav_menu ul li {
        padding-left: 1.6em;
    }

    .footer_navigation {
        display: block;
        padding: 20px 0;
    }

    .events_blocks {
        display: block;
        width: 100%;
    }

    .events_blocks h3, .news_block h3 {
        font-size: 1em;
        padding-top: 1.2em;
    }
    
    .events_titile {
        padding: 1em 0;
        margin-right: 2em;
    }
    
    .events_titile p, h4{
        font-size: 0.7em;
    }
    
    .events_titile p{
        padding-bottom: 0.3em;
        font-size: 0.8em;
    }
    
    .img_blocks {
        display: flex;
        width: 80%;
        margin-top: 1.5em;
    }

    .img_block {
        display: block;
        width: 50%;
    }
    
    .img_block img {
        width: 100%;
    }
    
    
    .news_block {
        margin-left: 3em;
        width: 100%;
    }
    
    .news_block p {
        padding: 1em 0;
        font-size: 0.6em;
    }
}


@media (max-width: 992px) {
    .background__image {
        background-position: center;
    }

    .container {
        width: 70%;
        margin: auto;
    }

    main {
        margin: 200px 0;
    }
    
    main .collection_number {
        width: 30%;
    }
    
    main .collection_title {
        width: 60%;
    }

    .footer_navigation {
        display: block;
        padding: 20px 0;
    }

    .events_blocks {
        display: block;
        width: 100%;
    }

    .events_blocks h3, .news_block h3 {
        font-size: 1em;
        padding-top: 1.2em;
    }
    
    .events_titile {
        padding: 1em 0;
        margin-right: 2em;
    }
    
    .events_titile p, h4{
        font-size: 0.7em;
    }
    
    .events_titile p{
        padding-bottom: 0.3em;
        font-size: 0.8em;
    }
    
    .img_blocks {
        display: flex;
        width: 80%;
        margin-top: 1.5em;
    }

    .img_block {
        display: block;
        width: 50%;
    }
    
    .img_block img {
        width: 100%;
    }
    
    
    .news_block {
        margin-left: 3em;
        width: 100%;
    }
    
    .news_block p {
        padding: 1em 0;
        font-size: 0.6em;
    }
}








@media (max-width: 768px) {
    .background__image {
        background-position: center;
    }

    .left__menu {
        display: none;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    main {
        margin: 170px 0;
    }
    
    main .collection_number {
        width: 30%;
    }
    
    main .collection_title {
        width: 60%;
    }

    header .nav_menu ul li {
        padding-left: 1.6em;
    }

    .footer_navigation {
        display: block;
        padding: 20px 0;
    }

    .events_blocks {
        display: block;
        width: 100%;
    }

    .events_blocks h3, .news_block h3 {
        font-size: 1em;
        padding-top: 1.2em;
    }
    
    .events_titile {
        padding: 1em 0;
        margin-right: 2em;
    }
    
    .events_titile p, h4{
        font-size: 0.7em;
    }
    
    .events_titile p{
        padding-bottom: 0.3em;
        font-size: 0.8em;
    }
    
    .img_blocks {
        display: flex;
        width: 80%;
        margin-top: 1.5em;
    }

    .img_block {
        display: block;
        width: 50%;
    }
    
    .img_block img {
        width: 100%;
    }
    
    
    .news_block {
        margin-left: 3em;
        width: 100%;
    }
    
    .news_block p {
        padding: 1em 0;
        font-size: 0.6em;
    }
}



@media (max-width: 576px) {
    
    .background__image {
        background-position: center;
    }

    .container {
        width: 85%;
        margin: auto;
    }

    .left__menu {
        display: none;
    }

    .nav_menu {
        display: none;
    }    

    main {
        display: block;
        margin-top: 70px;
        justify-content: center;
    }

    .collection_number {
        margin: 70px 0;
    }

    .footer_navigation {
        width: 100%;
        display: block;
        justify-content: center;
        margin: 0 auto;
    }
    
    header .logo_brand h2 {
        font-size: 2.5em;
    }

    main .collection_number h3 {
        font-size: 0.9em;
    }

    main .collection_number h4 {
        color: #fff;
        padding: 15px 0 5px 0;
        font-size: 1.5em;
        line-height: 1.1em;
    }

    main .collection_number p {
        font-size: 0.7em;
    }

    main .collection_title {
        width: 80%;
    }

    main .collection_title h1{
        font-size: 3.5em;
    }

    main .collection_title p {
        padding-top: 1.2em;
        font-size: 0.7em;
    }

    main .collection_title span {
        border-bottom: 1px solid #aaa;
    }

    footer {
        margin-top: 130px;
    }
    
    .events_blocks {
        display: block;
        width: 100%;
    }

    .events_blocks h3, .news_block h3 {
        font-size: 1em;
        padding-top: 1.2em;
    }
    
    .events_titile {
        padding: 1em 0;
        margin-right: 2em;
    }
    
    .events_titile p, h4{
        font-size: 0.7em;
    }
    
    .events_titile p{
        padding-bottom: 0.3em;
        font-size: 0.8em;
    }
    
    .img_blocks {
        display: block;
        width: 100%;
        margin-top: 1.5em;
    }

    .img_block {
        display: block;
        width: 100%;
    }
    
    .img_block img {
        width: 100%;
    }
    
    
    .news_block {
        margin-left: 0;
    }
    
    .news_block p {
        padding: 1em 0;
        font-size: 0.6em;
    }

}














